default:
  tags:
    - type:docker

stages:
  - docker
  - deploy

workflow:
  # when to create a CI pipeline
  rules:
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never # avoids duplicate jobs for branch and MR
#    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

variables:
  PLANT_UML_SERVER_NAME: plantuml-server

pages:
  stage: deploy
  image: python:3.12.0
  services:
    - name: plantuml/plantuml-server:jetty
      alias: $PLANT_UML_SERVER_NAME
  rules:
    - changes:
        - .gitlab-ci.yml
  cache:
    paths:
      - public
  artifacts:
    paths:
      - public
  variables:
    PLANT_UML_SERVER_PORT: "8080"
    PLANT_UML_SERVER: "http://$PLANT_UML_SERVER_NAME:$PLANT_UML_SERVER_PORT"
    SITE_URL: 'gh-pages-url'
    OFFLINE: "false"
  before_script:
    - apt-get update && apt-get install -y git netcat-traditional
    - git config --global --add safe.directory '*'
    - echo "Waiting for Plantuml Server to be ready"
    - |
      for i in `seq 1 10`;
      do
        nc -z $PLANT_UML_SERVER_NAME $PLANT_UML_SERVER_PORT && echo Success && result=0 && break
        echo -n .
        sleep 1
      done
      if [ $result -ne 0 ]; then
        echo Failed waiting for Plantuml Server && exit 1
      fi
    - echo "Plantuml Server is ready"
    - curl -sSfL "$PLANT_UML_SERVER"
    - pip install -r requirements.txt
  script:
    - bash ./run.sh build --site-dir ../public
    - ls -al ../public
